
<div class="switch-btns-container text-center p-2">
    <div class="btn-group btn-toggle"> 
        <button  (click)="toggleRegisterView('nano')" [ngClass]="{'selected': nanoFormSelected}" class="nano-form-btn btn  btn-lg ">Register With Nano Form</button>
        <button  (click)="toggleRegisterView('excel')" [ngClass]="{'selected': excelFileSelected}" class="excel-file-btn btn btn-lg selected">Register With Excel File</button>
    </div>
</div>




<div class="card container my-5">
    <div class="card-body py-5 px-lg-5 px-0">

        <!-- ======== excel File ======== -->
        <div *ngIf="excelFileSelected" class="row my-2">
            <div class="download-btn-container col-md-6">
                <h5>
                    Download Excel Template And Fill It With Your Info.
                </h5>
                <button class="form-control" (click)="downloadExcelTemplate()">
                    <i class="bi bi-download"></i>
                    <span> Download Excel Template</span>
                </button>

            </div>
            <div class="upload-btn-container col-md-6">
                <h5>
                    Upload Excel Template Fillen with your Info.
                </h5>
                <input type="file" class="form-control" (change)="onFileChange($event)" accept=".xlsx, .xls" />
                <button class="btn" (click)="processExcel()">Process Excel</button>
            </div>
            
            
        </div>
         
        <!-- ======== Nano Register Form ======== -->
        <div *ngIf="nanoFormSelected" class="nano-health">
            <div class="lpx-wizard d-flex w-100">
                <ul class="lpx-wizard-list d-lg-flex p-0 w-100">
                    <li class="lpx-wizard-item active" data-wizard-item="">
                        <div class="lpx-wizard-number flex-center rounded-2 mb-2 mx-auto"><strong>1</strong></div>
                        <h5 class="mb-0 text-dark"><strong>{{'pharmacyDetails.title' | translate}}</strong></h5>
                        <small class="text-muted">{{'pharmacyDetails.desc' | translate}}</small>
                    </li>
                    <li class="lpx-wizard-item" data-wizard-item="">
                        <div class="lpx-wizard-number flex-center rounded-2 mb-2 mx-auto"> <strong>2</strong></div>
                        <h5 class="mb-0 text-dark"><strong>{{'pharmacyLocation.title' | translate}}</strong></h5>
                        <small class="text-muted">{{'pharmacyLocation.desc' | translate}}</small>
                    </li>
                    <li class="lpx-wizard-item active" data-wizard-item="">
                        <div class="lpx-wizard-number flex-center rounded-2 mb-2 mx-auto"> <strong>3</strong></div>
                        <h5 class="mb-0 text-dark"><strong>{{'pharmacyWorking.title'|translate}}</strong></h5>
                        <small class="text-muted">{{'pharmacyWorking.desc'|translate}}</small>
                    </li>
                </ul>
            </div>
        
            <!-- ======= Pharmacy Basic Details tab ======== -->
            <form [formGroup]="registerform" (ngSubmit)="submit()">
                <div class="lpx-wizard-content active" data-form-tab="">
                    <div class="row my-2">
                        <div class="col-12">
                            <div class="mb-3">
                                <h5 class="text-dark"><strong>{{'pharmacyDetails.subTitle' | translate}}</strong></h5>
                            </div>
                            
                            <div class="row" formGroupName="basicForm">
                                <div class="col-xl-6 mb-3">
                                    <input type="text" formControlName="name" placeholder="{{'pharmacyDetails.name' | translate}} *" class="form-control" id="parmacyName">
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <ngx-intl-tel-input
                                        [cssClass]="'form-control'"
                                        [preferredCountries]="preferredCountries"
                                        [enableAutoCountrySelect]="true"
                                        [enablePlaceholder]="true"
                                        [customPlaceholder]="'Pharmacy Phone *'"
                                        [searchCountryFlag]="true"
                                        [searchCountryField]="[
                                        SearchCountryField.Iso2,
                                        SearchCountryField.Name
                                        ]"
                                        [selectFirstCountry]="false"
                                        [selectedCountryISO]="CountryISO.UnitedArabEmirates"
                                        [maxLength]="15"
                                        [phoneValidation]="true"
                                        [separateDialCode]="separateDialCode"
                                        [numberFormat]="PhoneNumberFormat.National"
                                        name="pharmacy_phone"
                                        formControlName="pharmacy_phone"
                                        id="pharmacy_phone"
                                    >
                                    </ngx-intl-tel-input>
                                </div>
            
                                <div class="col-xl-6 mb-3">        
                                    <input type="text" formControlName="pharmacist" placeholder="{{'pharmacyDetails.pharmacist' | translate}} *" class="form-control" id="PharmacistName">
                                </div>
    
                                <div class="col-xl-6 mb-3">
                                    <ngx-intl-tel-input
                                        [cssClass]="'form-control'"
                                        [preferredCountries]="preferredCountries"
                                        [enableAutoCountrySelect]="true"
                                        [enablePlaceholder]="true"
                                        [customPlaceholder]="'Personal Phone *'"
                                        [searchCountryFlag]="true"
                                        [searchCountryField]="[
                                        SearchCountryField.Iso2,
                                        SearchCountryField.Name
                                        ]"
                                        [selectFirstCountry]="false"
                                        [selectedCountryISO]="CountryISO.UnitedArabEmirates"
                                        [maxLength]="15"
                                        [phoneValidation]="true"
                                        [separateDialCode]="separateDialCode"
                                        [numberFormat]="PhoneNumberFormat.National"
                                        name="personal_phone"
                                        formControlName="personal_phone"
                                    >
                                    </ngx-intl-tel-input>
                                </div>
    
                                <div class="col-xl-6 mb-3">        
                                    <input type="email" formControlName="email" placeholder="{{'Email' | translate}} *" class="form-control" id="email">
                                </div>
    
                                <div class="col-xl-6 mb-3">        
                                    <input type="text" formControlName="license" placeholder="{{'License' | translate}} *" class="form-control" id="license">
                                </div>
                                <div class="col-xl-6 mb-3">        
                                    <input type="password" formControlName="password" placeholder="{{'Password' | translate}} *" class="form-control" id="Password">
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <input type="password" formControlName="confirm_password" placeholder="{{'ConfirmPassword' | translate}} *" class="form-control" id="confirmPassword">
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
    
                <!-- ======= Pharmacy Location And Place ======== -->
                <div class="lpx-wizard-content" data-form-tab="">
                    <div class="row my-2">
                        <div class="col-12">
                            <div class="row" formGroupName="locationForm"> 
                                <div class="col-md-12 my-2">
                                    <label>{{'Search a Place' | translate}}</label>
                                    <input type="text" #searchBox formControlName="placeSearch" class="form-control place-search" id="placeSearch">
                                </div>
                                
                                <div style="padding: 12px;border-radius: 10px;">
                                    <div #mapContainer id="map" style="height: 400px; width: 100%;border-radius: 10px;"></div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <input style="height: 70px;" class="form-control" type="text" [value]="selectedPlaceName" readonly>
    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ======= Pharmacy Working Days ======== -->
                <div class="lpx-wizard-content" data-form-tab="">
                    <div class="row my-2">
                        <div class="col-12">
                            <div class="mb-3">
                                <h5 class="text-dark"><strong>{{'pharmacyWorking.subTitle'|translate}}</strong></h5>
                            </div>
                        
                            <div class="row" formGroupName="workingHoursForm">
    
                                <div class="btn-container col-md-9">
                                    <div class="row">
                                        <div class="col m-1" *ngFor="let dayControl of daysArray.controls; let i = index" >
                                            <button type="button" (click)="toggleDay(i)" [ngClass]="{'selected': dayControl.get('enabled')?.value}">
                                                {{ dayControl.get('day')?.value }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="form-check col-md-3" >
                                    <input class="form-check-input" formControlName="sameHours" type="checkbox" value="" id="sameHours">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      {{'pharmacyWorking.sameTime'|translate}}
                                    </label>
                                </div>
    
                                <div class="working-hourse-actions col-12" formArrayName="days">
                                
                                    <div  *ngFor="let dayControl of daysArray.controls; let i = index" [formGroupName]="i">
                                     
                                        <div *ngIf="dayControl.get('enabled')?.value">
                                           <div class="time-inputs mt-5 row">
                                                <div class="day-name col-md-3">
                                                    {{ dayControl.get('day')?.value }}
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="checkbox" formControlName="is24Hours" (change)="toggle24Hours(i)"> Is 24 Hours?
                                                </div>
                                                <div class=" col-md-3 inputs" *ngIf="!dayControl.get('is24Hours')?.value">
                                                    <input placeholder="From *" step="900" onfocus="this.type='time'" class="form-control m-1" formControlName="from">
                                                </div>
                                                <div class="col-md-3 inputs" *ngIf="!dayControl.get('is24Hours')?.value">
                                                    <input placeholder="To *" step="900" onfocus="this.type='time'" class="form-control m-1" formControlName="to">
                                                </div>
                                           </div> 
                                           <hr>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            
                <div class="row mt-3">
                    
                    <div class="col-12 col-xl-12 mr-auto">
                        <div class="lpx-wizard-buttons d-flex justify-content-end">
                            <button class="btn btn-outline-secondary m-1" type="button" style="opacity: 1;">
                                {{'Cancle' | translate}}
                            </button>
                            <button class="btn btn-outline-secondary m-1" type="button" (click)="nextPrev(-1)" data-btn-previous="true" style="opacity: 1;">
                                {{'back' | translate}}
                            </button>
                            @if(readyToSubmit){
                                <button class="btn btn-primary m-1" type="submit">
                                    <i class="bi bi-check" width="100" height="100"></i> {{'submit' | translate}} 
                                </button>
                            }
                            <button class="btn btn-primary next-btn m-1" type="button" (click)="nextPrev(1)" data-btn-next="true" style="opacity: 1;">
                                <i class="bi bi-check" width="100" height="100"></i> {{'Next' | translate}} 
                            </button>
                            
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>


        
    </div>
</div>


