<div class="content" [dir]="'dir'| translate">  
    <div class="container-fluid p-4">
        <div class="header">
            <div class="back-arr">
                <button class="btn" type="button">
                    <i class="bi bi-arrow-left"></i>  {{'back' | translate}}
                </button>
            </div>
            <div class="translate-btn">
                <select id="languageSelect" class="form-select form-control" (change)="useLanguage($event)">
                    <option value="en"> <i class="bi bi-translate"></i>{{ 'English' | translate }} </option>
                    <option value="ar"> <i class="bi bi-translate"></i> {{ 'Arabic' | translate }}  </option>
                </select>
               
            </div>
        </div>
    </div>

    <app-sign-up></app-sign-up>

</div>